{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div style="background-color: #FFFFFF;padding: 40Px;alignment: top;">
<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
</div>
{% endblock fos_user_content %}
