{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {%  block content %}
<div class="p-5 mt-5">
    <img src="assets/img/basic/logo.png" alt=""/>
</div>
<div class="p-5">
    <h3>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</h3>
</div>

    {% endblock %}
{% endblock fos_user_content %}
