{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div style="background-color: #FFFFFF;padding: 40Px;alignment: top;">

<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
     <a   class="btn btn-success btn-lg btn-block"  style="background: linear-gradient(to bottom left , #22c1c3 , #626970  );font-family:'Calibri Light';-webkit-text-fill-color: #FFFFFF; margin-left: 40px;" href="{{ path('fos_user_security_login') }}">Sign in</a>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
</div>

{% endblock fos_user_content %}
