{% extends'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}

    {% block contents %}




<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <!--end of modal head-->

        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">

            <div class="alert alert-primary" role="alert">
                Utilisateur effectuer avec Succes
            </div>
            <div>
                <a class="btn btn-primary" href="{{ path('affiche_team') }}">Ajouter equipe</a>
            </div>
 <br>
            <div>
                <a class="btn btn-primary" href="{{ path('project_homepage') }}">Ajouter Projet</a>
            </div>
            <br>
            <div>
                <a class="btn btn-primary" href="{{ path('affecter', { 'id': id }) }}">Affecter autre utilisateur</a>
            </div>




        </div>


    </div>







    {% endblock %}
    {% endblock %}
