{% extends'baseF.html.twig' %}


{% block contents %}

    {% block row %}

        <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
            <li>
                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v--1">
                    <i class="icon icon-group"></i>Teams</a>
            </li>
        </ul>

    {% endblock %}

{% block items %}
<div class="modal-dialog" style="width: 400%;margin-top: 100px;margin-left: 100px;alignment: center;">

    <!-- Modal content-->
    <div class="modal-content">

        <!--end of modal head-->

        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">

            <div class="alert alert-primary" role="alert">
Erreuuur
            </div>
            <div>
                <a class="btn btn-primary" href="{{ path('affiche_team') }}" style="margin-left: 150px;">Retour aux equipe</a>
            </div>
            <br>





        </div>

    </div>
</div>

    {% endblock %}

    {% endblock %}



