<html>
<head>
    <title id="response">reCAPTCHA Scrumify: reset page </title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function f() {
            var r = grecaptcha.getresponse();
            alert(r);
        }
    </script>
</head>
<body>

<form action="#" method="POST" >
   <!-- <div class="g-recaptcha" data-sitekey="6LcZA_0UAAAAAECjBTaPoMoWznB9OSr3SHHPX0d1"></div>-->
    <br/>
   <!-- <input type="submit" value="Submit">-->

</form>

</body>
</html>