{% extends 'baseF.html.twig' %}

{% block items %}
    <a href="{{ path('projects_new') }}">Create new booking</a>
    <div id="calendar-holder"  style="width: 400%; margin-left: 50px" ></div>

{% endblock %}







