{% trans_default_domain 'FOSUserBundle' %}


<p class="loginhere" style="-webkit-text-fill-color: #2c4762;margin-left: 150px;">
    New to Scrumify?    <a   class="btn btn-success" value="Sign up here"   style="background: linear-gradient(to bottom left , #22c1c3 , #626970  );font-family:'Calibri Light';-webkit-text-fill-color: #FFFFFF; margin-left: 40px;" href="{{ path('fos_user_registration_register') }}">Sign up</a>
</p>

<div style="background-color: #FFFFFF;padding: 40Px;alignment: top;">
    <div class="text-gray">
        <p class="text-gray" style="font-weight: bold">Request a new password </p>
        <p class="text-gray"> Enter your username  </p>
    </div>


    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">


        <div class="col-lg-12">
            <div class="form-group has-icon"><i class="icon-user-o" ></i>

                <input type="text" class="form-control form-control-lg " name="username" id="username" placeholder="Username" required="required" autocomplete="username" >
            </div>
        </div>

        <div class="col-lg-12">
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Sign in" name="_submit" id="submit" style="background-color: #16CABD;">
        </div>
    </form>
</div>


