
{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}
{% block stylesheets %}

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
{% endblock %}
{% block contents %}

<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
    <div class="tt-single-topic">
        <div class="tt-item-header">
            <div class="tt-item-info info-top">
                <div class="tt-avatar-icon">
                    <i class="tt-icon"><svg><use xlink:href="#icon-ava-d"></use></svg></i>
                </div>
                <div class="tt-avatar-title">
                    <a href="#">dylan89</a>
                </div>
                <a href="#" class="tt-info-time">
                    <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>6 Jan,2019
                </a>
            </div>
            <h3 class="tt-item-title">
                <a href="#">{{ question.title }}</a>
            </h3>
            <div class="tt-item-tag">
                <ul class="tt-list-badge">
                    <li><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                    <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                    <li><a href="#"><span class="tt-badge">elements</span></a></li>
                </ul>
            </div>
        </div>
        <div class="tt-item-description">
            <h6 class="tt-title">{{ question.description }}</h6>
        </div>
        <div class="tt-item-info info-bottom">
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                <span class="tt-text">671</span>
            </a>
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                <span class="tt-text">39</span>
            </a>
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                <span class="tt-text">12</span>
            </a>
            <div class="col-separator"></div>
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
            </a>
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
            </a>
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
            </a>
        </div>
    </div>
            </div>


            <div class="tt-wrapper-inner">
                <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
            </div>


            <div class="tt-wrapper-inner">
                <div class="pt-editor form-default">
                    <h6 class="pt-title">Post Your Reply</h6>
                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="5" placeholder="Lets get started"></textarea>
                    </div>
                    <div class="pt-row">
                        <div class="col-auto">
                            <div class="checkbox-group">
                                <input type="checkbox" id="checkBox21" name="checkbox" checked="">
                                <label for="checkBox21">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    <span class="tt-text">Subscribe to this topic.</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <a href="#" class="btn btn-secondary btn-width-lg">Reply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

