forum_homepage:
    path:     /forum
    defaults: { _controller: ForumBundle:Default:index }

_display_questions:
    path:     /forum/
    defaults: { _controller: ForumBundle:Question:DisplayQuestions }
_display_question:
    path:     /forum/display_question/{id}
    defaults: { _controller: ForumBundle:Question:DisplayQuestion }
_add_question:
    path:     /forum/add_question
    defaults: { _controller: ForumBundle:Question:AddQuestion }
_delete_question:
    path:     /forum/delete_question/{id}
    defaults: { _controller: ForumBundle:Question:DeleteQuestion }
_delete_answer:
    path:     /forum/delete_answer/{id}
    defaults: { _controller: ForumBundle:Answer:DeleteAnswer }
_display_back_questions:
    path:     /adminn/display_questions
    defaults: { _controller: ForumBundle:Question:DisplayBackQuestions }

_display_back_answer:
    path:     /adminn/display_answers/{question}
    defaults: { _controller: ForumBundle:Answer:DisplayBackAnswers }
_edit_question:
    path:     /edit_question/{id}
    defaults: { _controller: ForumBundle:Question:EditQuestion }
tag:
    resource: "@ForumBundle/Controller/"
    type:      annotation