{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}
{% block head %}

{% endblock %}
{% block contents %}
    <div class="text-center d-flex align-items-center justify-content-center pt-5">

<ol class="list-group list-group-activity w-25">

    {% for activity in activities %}

        <li class="list-group-item">
            <a href="{{ path('delete_activity',{'id':activity.id}) }}">
                <button  type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </a>
            <div class="media align-items-center">
                <ul class="avatars">
                    <li>
                        <div class="avatar bg-primary">
                            <i class="material-icons">...</i>
                        </div>
                    </li>
                    <li>
                        <img alt="..." src="..." class="avatar" />
                    </li>
                </ul>
                <div class="media-body">
                    <div>
                        <span class="h6">{{ activity.User.username }} </span><span>{{ activity.action }}</span><a href="#">In item</a>
                    </div>
                    <span class="text-small">Date</span>
                </div>
            </div>
        </li>

    {% endfor %}

    </ol>
    </div>


{% endblock %}