{% extends'baseF.html.twig' %}
{% block contents %}

    {% block row %}
        <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
            <li>
                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1">
                    <i class="icon icon-puzzle-piece"></i>Scrum Task Board </a>
            </li>
        </ul>

    {% endblock %}
    {% block items %}
        <a class="btn btn-link btn-sm text-small"  href="{{path('tasks_homepage')}}" >Tasks Board</a>

        <div class="main-container">

            <div id="div_chart" style="margin:unset; margin-top: 20px;">

            </div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                {{ gc_draw(piechart, 'div_chart') }}
            </script>

        </div>

    {% endblock %}
{% endblock %}







