
{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}
{% block stylesheets %}

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
{% endblock %}
{% block content %}
    <div class="tt-topic-list">
        <div class="tt-list-header">
            <div class="tt-col-topic">Topic</div>
            <div class="tt-col-category">Category</div>
            <div class="tt-col-value hide-mobile">Likes</div>
            <div class="tt-col-value hide-mobile">Replies</div>
            <div class="tt-col-value hide-mobile">Views</div>
            <div class="tt-col-value">Activity</div>
        </div>
        <div class="tt-item">
            <div class="tt-col-avatar">
                <svg class="tt-icon">
                    <use xlink:href="#icon-ava-c"></use>
                </svg>
            </div>
            <div class="tt-col-description">
                <h6 class="tt-title"><a href="#">
                        Review Queue Changes for VideoHive & PhotoDune
                    </a></h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-11">
                        <ul class="tt-list-badge">
                            <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">politics</span></a></li>
                            <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                            <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                        </ul>
                    </div>
                    <div class="col-1 ml-auto show-mobile">
                        <div class="tt-value">1d</div>
                    </div>
                </div>
            </div>
            <div class="tt-col-category"><span class="tt-color01 tt-badge">politics</span></div>
            <div class="tt-col-value  hide-mobile">308</div>
            <div class="tt-col-value tt-color-select  hide-mobile">660</div>
            <div class="tt-col-value  hide-mobile">8.3k</div>
            <div class="tt-col-value hide-mobile">1d</div>
        </div>
        <div class="tt-row-btn">
            <button type="button" class="btn-icon js-topiclist-showmore">
                <svg class="tt-icon">
                    <use xlink:href="#icon-load_lore_icon"></use>
                </svg>
            </button>
        </div>
    </div>
{% endblock %}
